extends ../layout

block content 
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Actualizando Bicicleta

    br
    br

    form(action='/bicicletas/'+bici.id+'/update' method='post')
        label(for='id') ID:
        input#id(type='text' name='id' value=bici.id)
        br
        label(for='color') Color:
        input#color(type='text' name='color' value=bici.color)
        br
        label(for='modelo') Modelo:
        input#modelo(type='text' name='modelo' value=bici.modelo)
        br
        label(for='Lat') Latitud:
        input#latitud(type='text' name='Lat' )
        br
        label(for='Long') Longitud:
        input#longitud(type='text' name='Long' )
        br
        input.btn(type='submit' value='OK')